@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap');

*, *::before, *::after {
    font-family: 'Noto Sans JP', sans-serif;
    padding: 0;
    margin: 0;
}

.title {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 26px;
}

body {
    background-color: #ededed;
    color: #333333;
}

.calculator {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 80vh;
    grid-template-columns: repeat(4, 120px);
    grid-template-rows: minmax(140px, auto) repeat(5, 110px);
}


.calculator > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid #333333;
    border-radius: 0px;
    background-color: #333333;
}

.calculator > button:hover {
    background-color: #ededed;
    color: #333333
}

button {
    color: #ededed;
}

.span-two {
    grid-column: span 2;
    color: #ee8e09;
}

.span-twoEqual {
    grid-column: span 2;
    color: #09ee9e;
}

.display {
    grid-column: 1 / -1;
    background-color: #303030;
    color: #ededed;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 12px;
    word-wrap: break-word;
    word-break: break-all;
}

.display .previous {
    color:#09ee9e;
    font-size: 1.5rem;
}

.display .current {
    color:#ee8e09;
    font-size: 2.5rem;
}

a, a:visited, a:hover {
    text-decoration: none;
    color: #09ee9e;
}

#dotBtn:hover {
    background-color: #333333;
}
